<link rel="stylesheet" href="../assets/css/style.css">

<div class="d-flex bg-dark" id="content-wrapper">
  <!-- Sidebar -->
  <div id="sidebar-container" class="bg-primary">
    <div class="menu">
      <a href="/administrar" class="d-block text-light p-3 border-0 text-decoration-none active"><i
          class="icon ion-md-apps lead mx-2"></i>
        Productos</a>
      {{#ifeq user.role 'admin' }}
      <a href="/administracion-usuarios" class="d-block text-light p-3 border-0 text-decoration-none"><i
          class="icon ion-md-people lead mx-2"></i>
        Usuarios</a>
      {{/ifeq}}
    </div>
  </div>
  <!-- Fin sidebar -->

  <div class="w-100">

    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">

      <section class="bg-light py-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-8">
              <h1 class="font-weight-bold mb-0">Productos</h1>
              <p class="lead text-muted">Registrar un nuevo producto</p>
            </div>
            <div class="col-lg-3 col-md-4 d-flex">
              <a class="btn btn-primary w-100 align-self-center" href="/administrar">Regresar</a>
            </div>
          </div>
        </div>
      </section>


      <section>
        <div class="container  bg-light">
          <div class="row">
            <div class="col-lg my-3">

              <div class="content-producto">
                <form>

                  <div class="datosForm">
                    <input type="text" name="title" placeholder="Titulo" class="input-data" />
                    <input type="text" name="category" placeholder="Categoria" class="input-data" />
                    <input type="text" name="price" pattern="^[0-9]+(,[0-9]+)?$" placeholder="Precio"
                    class="input-data" />
                    <input type="number" name="stock" placeholder="Cantidad" class="input-data" />
                  </div>

                  <textarea name="description" placeholder="Descripción del producto" id="" cols="10" rows="10"
                    class="input-data"></textarea>
                  <input type="file" name="imgProducto" class="input-data" id="nuestroinput"
                    accept="image/png, image/jpeg, image/jpg, image/webp">

                </form>

                <button type="btn btn-primary" onclick="clickGuardar('{{user.email}}')">
                  GUARDAR
                </button>
              </div>

            </div>
          </div>
        </div>
      </section>

    </div>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/crearProducto.js"></script>