<div class="content-producto">
    <form>
        <span>PRODUCTO</span>
        <input type="text" name="title" placeholder="Titulo"  class="input-data"/>
        <input type="text" name="category" placeholder="Categoria"  class="input-data"/>
        <textarea name="description" placeholder="Descripción del producto" id="" cols="10" rows="10" class="input-data"></textarea>
        <input type="text" name="price" pattern="^[0-9]+(.[0-9]+)?$" placeholder="Precio"  class="input-data"/>
        <input type="number" name="stock" placeholder="Cantidad" class="input-data" />
        <button type="submit">
                Guardar
        </button>
    </form>

</div>
<script src="/js/crearProducto.js"></script>