<link rel="stylesheet" href="../assets/css/style.css">

<div class="d-flex bg-dark" id="content-wrapper">
    <!-- Sidebar -->
    <div id="sidebar-container" class="bg-primary">
        <div class="menu">
            <a href="/administrar" class="d-block text-light p-3 border-0 text-decoration-none active"><i
                    class="icon ion-md-apps lead mx-2"></i>
                Productos</a>
            {{#ifeq user.role 'admin' }}
            <a href="/administracion-usuarios" class="d-block text-light p-3 border-0 text-decoration-none"><i
                    class="icon ion-md-people lead mx-2"></i>
                Usuarios</a>
            {{/ifeq}}
            {{!-- <a href="#" class="d-block text-light p-3 border-0 text-decoration-none"><i
                    class="icon ion-md-stats lead mx-2"></i>
                Estadísticas</a>
            <a href="#" class="d-block text-light p-3 border-0 text-decoration-none"><i
                    class="icon ion-md-person lead mx-2"></i>
                Perfil</a>
            <a href="#" class="d-block text-light p-3 border-0 text-decoration-none"> <i
                    class="icon ion-md-settings lead mx-2"></i>
                Configuración</a> --}}
        </div>
    </div>
    <!-- Fin sidebar -->

    <div class="w-100">
        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

            <section class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Usuarios</h1>
                            <p class="lead text-muted">Lista de usuarios registrados en la base de datos</p>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container  bg-light">
                    <div class="row">
                        <div class="col-lg my-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">email</th>
                                        <th scope="col">Rol</th>
                                        <th scope="col">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="contenido-tabla"></tbody>
                                {{!-- <div class="content-paginacion"></div> --}}
                                <tfoot>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination content-paginacion"></ul>
                                    </nav>
                                </tfoot>


                            </table>
                        </div>
                    </div>
                </div>
        </div>
        </section>

    </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccione Rol del Usuario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <select name="rol" id="rolSelect" class="form-select" aria-label="Default select example">
                            <option selected>Seleccionar</option>
                            <option value="user">User</option>
                            <option value="premium">Premium</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="cambiarRol('{{user.role}}')" >Guardar</button>
            </div>
        </div>
    </div>
</div>
</div>




<script src="/js/administracion-usuarios.js"></script>