<div class=" d-flex flex-column justify-content-center align-items-center">

    <form id="resetForm" class="col-5 container py-5 h-100">

        <h2 class="fw-bold mb-2 text-uppercase h4">Restablecer contraseña</h2>
        <p><small class="text-muted">La contraseña debe contener mínimo 8 caracteres, una letra mayúscula, un símbolo y un número.</small></p>
        <!-- Password input -->
        <div class="form-outline mb-2">
            <input type="password" id="passwordNew" class="form-control" name="passwordNew" />
            <label class="form-label" for="passwordNew">Nueva Contraseña</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-2">
            <input type="password" id="passwordRepit" class="form-control" name="passwordRepit" />
            <label class="form-label" for="passwordRepit">Repetir Contraseña</label>
        </div>

        <div class="d-grid mb-2">
            <!-- Submit button -->
            <input type="submit" class="btn btn-primary" id="btn-guardar" value="Guardar" />
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p class="mb-1">¿Ya tiene cuenta? <a href="/login">Iniciar Sesión</a></p>
        </div>
    </form>
</div>


<script src="/js/cambiarPassword.js"></script>