<div>
    <h1>Bienvenidos al chat de la página</h1>

    <div>
        <label for="">Mensaje: </label>
        <input type="text" id="chatBox">
    </div>

    <div>
        <p id="messageLogs"></p>
    </div>
</div>

{{!-- <section style="background-color: #CDC4F9;">
    <div class="container py-5">
        <div class="row">
            <div class="row">
                <div class="card" id="chat3" style="border-radius: 15px;">
                    <div class="card-body">
                        <div class="card-body">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}


<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>