<div class="productosContenedor">
    <div class="titulo">TODOS LOS PRODUCTOS</div>
    <div class="listaProductos">
        {{#each arrayProducts}}
            <div class="producto">
                <div class="productoTitulo">{{this.title}}</div>
                <div class="productoDescripcion">{{this.description}}</div>
                <div class="productoPrecio">$ {{this.price}}</div>
            </div>
        {{/each}}

    </div>

</div>