<div class=" d-flex flex-column justify-content-center align-items-center">
  <form id="loginForm" class="col-5 container py-5 h-100" >

    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
    <p class="text-black-50 mb-2">¡Por favor, introduce tu correo y contraseña!</p>
    <!-- Email input -->
    <div class="form-outline mb-1">
      <input type="email" id="form2Example1" class="form-control" name="email"/>
      <label class="form-label" for="form2Example1">Correo electrónico</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-2">
      <input type="password" id="form2Example2" class="form-control" name="password"/>
      <label class="form-label" for="form2Example2">Contraseña</label>
    </div>

    <!-- 2 column grid layout for inline styling -->
    <div class="row">
      <div class="col">
        <!-- Simple link -->
        <p>¿Has olvidado tu contraseña?<a href="/recuperar-cuenta"> Recuperar</a></p>
      </div>
    </div>

    <div class="d-grid mb-2">
      <!-- Submit button -->
      <input type="submit" class="btn btn-primary" id="btn-login" value="Iniciar sesión" />
      <p class="text-center mb-1">O</p>
      <a href="/api/sessions/github" class="text-center mb-1">
        <button type="button" class="btn btn-secondary" id="loginGitHub">
          <i class="fab fa-github"></i> Continua con GitHub
        </button>
      </a>
      
    </div>

    <!-- Register buttons -->
    <div class="text-center">
      <p class="mb-1">¿No tiene cuenta? <a href="/register">Registro</a></p>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>