<div class="contenedorLogin">
    <div class="contenedorForm">
        <h1>Iniciar sesión</h1>
        <form id="loginForm">
            <label for="">Correo electrónico</label>
            <input type="text" name="email">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <input type="submit" class="botonSubmit" value="Iniciar sesión">
        </form>
        <div class="loginTerceros">
            <span>INICIA SESION CON</span>
            <a href="/api/sessions/github"> <button id="loginGitHub" ><i class="fa-brands fa-github"></i> GitHub</button> </a>
        </div>
        <p>¿No tienes cuenta? <a href="/register">Clic aquí</a></p>
        <p>¿Olvidaste tu contraseña? <a href="/reset">Clic aquí</a></p>
    </div>
    
</div>

<script src="/js/login.js"></script>