<div class="contenedorLogin">
    <div class="contenedorForm">
        <h1>Iniciar sesión</h1>
        <form id="loginForm">
            <label for="">Correo electrónico</label>
            <input type="text" name="email">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <input type="submit" class="botonSubmit" value="Iniciar sesión">
        </form>
        <p>¿No tienes cuenta? <a href="/register">Clic aquí</a></p>
        <p>¿Olvidaste tu contraseña? <a href="/reset">Clic aquí</a></p>
    </div>
    
</div>

<script src="/js/login.js"></script>