<div class="contenedorPrincipal">
    <div class="productosContenedor">
        <div class="titulo">TODOS LOS PRODUCTOS</div>
        <div class="listaProductos" id="insertDOMcontent"></div>
    </div>

    <div class="formularioProducto">
        <div class="titulo">REGISTRAR PRODUCTO</div>
        <form id="frmProduct">
            <div>
                <label for="">Titulo: </label>
                <input type="text" id="title" name="title" class="form-control" />
            </div>
            <div>
                <label for="">Descripción: </label>
                <input type="text" id="description" name="description" class="form-control"  />
            </div>
            <div>
                <label for="">Código: </label>
                <input type="text" id="code" name="code" class="form-control" />
            </div>
            <div>
                <label for="">Precio: </label>
                <input type="number" id="price" name="price" class="form-control" />
            </div>
            <div>
                <label for="">Stock: </label>
                <input type="number" id="stock" name="stock" class="form-control" />
            </div>
            <div>
                <label for="">Categória: </label>
                <input type="text" id="category" name="category" class="form-control" />
            </div>
            <button type="submit" class="btnRegistrar">REGISTRAR</button>
        </form>
    </div>
    
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>