<div class=" d-flex flex-column justify-content-center align-items-center">

    <form id="resetForm" class="col-5 container py-5 h-100">

        <h2 class="fw-bold mb-2 text-uppercase">Recuperar Cuenta</h2>
        <P>Por favor ingrese su correo electrónico</P>
        <!-- Email input -->
        <div class="form-outline mb-1">
            <input type="email" id="email" class="form-control" name="email" />
            <label class="form-label" for="email">Correo electrónico</label>
        </div>

        <div class="d-grid mb-2">
            <!-- Submit button -->
            <input type="submit" class="btn btn-primary" id="btn-recuperar" value="Recuperar cuenta" />
        </div>

        <!-- Register buttons -->
        <div class="text-center">
            <p class="mb-1">¿Ya tiene cuenta? <a href="/login">Iniciar sesión</a></p>
        </div>
    </form>
</div>

<script src="/js/recuperarCuenta.js"></script>