<div class="contenedorRegister">
    <div class="contenedorForm">
        <h1>Registrarse</h1>
        <form id="registerForm">
            <label for="">Nombre</label>
            <input type="text" name="first_name">
            <label for="">Apellido</label>
            <input type="text" name="last_name">
            <label for="">Correo electrónico</label>
            <input type="text" name="email">
            <label for="">Edad</label>
            <input type="text" name="age">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <input type="submit" class="botonSubmit" value="Registrarse">
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Clic aquí</a></p>
    </div>
</div>

<script src="/js/register.js"></script>