<div class="contenedorReset">
    <div class="contenedorForm">
        <h1>Resetear contraseña</h1>
        <form id="resetForm">
            <label for="">Correo electrónico</label>
            <input type="text" name="email">
            <label for="">Contraseña</label>
            <input type="password" name="password">
            <input type="submit" class="botonSubmit" value="Cambia contraseña">
        </form>
        <p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
    </div>
</div>

<script src="/js/reset.js"></script>