<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/oswaldo.garces.54"
        target="_blank" role="button"><i class="fab fa-facebook-f"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" target="_blank" role="button"><i
          class="fab fa-twitter"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/oswaldogarces_/" target="_blank"
        role="button"><i class="fab fa-instagram"></i></a>
      <a class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/in/oswaldo-antonio-garces-dorado-920115231/" target="_blank" role="button"><i
          class="fab fa-linkedin-in"></i></a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/oswaldo9898?tab=repositories"
        target="_blank" role="button"><i class="fab fa-github"></i></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <strong>Oswaldo Garces</strong>
  </div>
</footer>