<header>
  <div class="menu">
    <nav>
      <ul>
        <li>
          <a href="/products"><i class="fa-solid fa-shop"></i>
            TIENDA</a>
        </li>
      </ul>
    </nav>
      <div class="cartShop">
        <a class='botonCartShop' href="/carts/64178ea0f42c1bf094545772">
          <img src='assets/cart-shop.png' alt="cart" class="iconCart" />
        </a>
      </div>
  </div>
</header>