<link rel="stylesheet" href="../../css/navigation.css">

<header>
  <div class="menu">
    <nav>
      <ul>
        <li>
          {{#if user}}
            <a href="/productos"><i class="fa-solid fa-shop"></i>
            TIENDA</a>
          {{/if }}
          
        </li>
      </ul>
    </nav>
    <div class="cart-cuenta">
      <div class="cartShop">
        {{#ifeq user.role 'user'}}
        <a class='botonCartShop' href="/carts/{{user.cart}}">
          <img src='../../assets/cart-shop.png' alt="cart" class="iconCart" />
        </a>
        {{/ifeq}}
        {{#ifeq user.role 'admin'}}
        <a class='admin' href="/administrar"><i class="fa-solid fa-gear"></i>
          Administración
        </a>
        {{/ifeq}}
      </div>
      
      {{#if user}}
        <div class="miCuenta">
          <li>
            <div class='nav_link' >
              Hola {{user.first_name}} {{user.last_name}}
              </div>
                <ul>
                  <li><NavLink to="/orders">Rol: {{user.role}}</NavLink></li>
                  <li><a href="/api/sessions/logout"><button>Salir</button></a></li>
                </ul>
          </li>
        </div>
      {{/if }}

    </div>
  </div>
</header>

<script src="/js/navigation.js"></script>
